.App {
  text-align: center;
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #314CB6;
}

.Row {
  display: flex;
}

.Column {
  flex: 50%;
  width: 35%;
}
